/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&familty=VT323&display=swap");
/* reset css */
:root {
  --primary-color: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: Poppins;
}
header {
  background: #ffffff;
}
header.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  margin: 20px;
  padding: 0 auto;
}
